html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* https://www.flaticon.com/free-icons/box ; Box icons created by Freepik - Flaticon */
  background-image: url("/box.png");
  background-position: right 2em bottom 2em;
  background-attachment: fixed;
  background-size: 8em;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
